name: Send_Message_On_Schedule

on:
  schedule:
    - cron: "*/10 * * * *"

jobs:                          
  build:
    runs-on: ubuntu-latest
    steps:
      - name: send request            
        run: curl -X POST -H 'Content-Type:application/json' -d '{"chatId":"${{ secrets.SEND_TO }}"}' https://weatherbot-epps.onrender.com/scheduled-work   
    
